@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  padding: 20px !important;
  /* overflow: auto !important; */
}
@media (prefers-color-scheme: light) {
  :root {
    --background: 250, 249, 246;
    --text: 44, 44, 44;

    --button-background: 44, 44, 44;
    --button-text: 250, 249, 246;
    --button-hover: 65, 65, 65;

    --input-bg: 215, 215, 215;

    --error-text: 127, 29, 29;

    --alt-bg: 200, 200, 200;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 44, 44, 44;
    --text: 250, 249, 246;

    --button-background: 250, 249, 246;
    --button-text: 44, 44, 44;
    --button-hover: 177, 182, 166;

    --input-bg: 24, 24, 24;

    --error-text: 248, 113, 113;

    --alt-bg: 65, 65, 65;
    --alt-bg-darker: 35, 35, 35;
  }
}

.light {
  --background: 250, 249, 246;
  --text: 44, 44, 44;

  --button-background: 44, 44, 44;
  --button-text: 250, 249, 246;
  --button-hover: 65, 65, 65;

  --input-bg: 215, 215, 215;

  --error-text: 127, 29, 29;
}

.dark {
  --background: 44, 44, 44;
  --text: 250, 249, 246;

  --button-background: 250, 249, 246;
  --button-text: 44, 44, 44;
  --button-hover: 177, 182, 166;

  --input-bg: 24, 24, 24;

  --error-text: 248, 113, 113;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
